<!DOCTYPE html>
<html>
<head>
    <title>Erica Truxton</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" sizes="any">
</head>
<body>
    <!-- Main Content -->
    <canvas id="background-canvas"></canvas>
    <div class="content">
        <div class="header">
            <div class="header-top">
                <div class="profile-pic-container">
                    <img src="/static/home/assets/images/confuso.jpg" alt="Profile Picture" class="profile-pic">
                    <div class="confetti-container"></div>
                </div>
                <h1>Hi, I'm Erica <span class="waving-emoji">👋</span></h1>
            </div>
            <p>Welcome to Erica's personal website! This is where I take a crack at web development. Website is very WIP.</p>
        </div>

        <div class="projects-container">
            <ul class="project-list">
                <li class="project-item" data-description="Control a player with a real-life object in a bullet dodging game using OpenCV." data-demo-link="{{ url_for('bullet_hell.index') }}" data-image="/static/home/assets/images/bullet_hell.png">OpenCV Bullet Hell</li>
                <li class="project-item" data-description="Use your fingers to shoot targets in this fun interactive app." data-demo-link="{{ url_for('finger_gun.index') }}" data-image="/static/home/assets/images/finger_gun.png">OpenCV Finger Gun</li>
                <li class="project-item" data-description="An art portfolio that showcases a family member's chicken wire sculptures, built with React and hosted on AWS S3." data-demo-link="https://twistedvisionsstudio.com" data-target="_blank" data-image="/static/home/assets/images/twistedvisionsstudio.png">Twisted Visions Studio</li>
            </ul>

            <div class="project-details">
                <span class="description"></span>
                <div class="button-container">
                    <a class="demo-button">Demo</a>
                    <button class="read-more-button">Read More &#8594;</button>
                </div>
            </div>
            <div class="project-image-display">
                <img src="" alt="Project Image" class="project-display-image">
            </div>
        </div>

        <div class="handwriting-recognition-container">
            <h2>Handwriting Recognition</h2>
            <canvas id="drawingCanvas" width="400" height="200"></canvas>
            <br>
            <button id="clearButton">Clear</button>
            <button id="recognizeButton">Recognize</button>
            <div id="resultDisplay"></div>
        </div>
    </div>

    <!-- Image Overlay -->
    <div class="image-overlay">
        <img src="" alt="Enlarged Image" class="enlarged-image">
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="{{ url_for('static', filename='home/home.js') }}"></script>
    <script src="{{ url_for('static', filename='home/text_recognition.js') }}"></script>
    <script src="{{ url_for('static', filename='home/typing_speed.js') }}"></script>
    <script src="{{ url_for('static', filename='home/particle_background.js') }}"></script> </body>
</body>
</html>